.App {
  display: grid;
  height: 100%;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 25% auto 25%;
  margin: 0;
}

.Header {
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: rgba(74,99,127,1);
  width: 100%;
}

.App-intro {
  font-size: large;
}
