/* font-family: 'Lato', sans-serif;
font-family: 'Carrois Gothic SC', sans-serif; */


.App {
  display: grid;
  height: 100%;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 25% 25% 25% 25%;
  margin: 0;
}

.Header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(74,99,127,1);
  width: 100%;
  text-align: center !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  box-sizing: border-box;
  margin: 0;
}

.Intro {
  width: 100%;
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title {
  color: white;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 115px;
  font-stretch: expanded;
  margin: 0;
}

.Tagline {
  color: white;
  font-size: 35px;
  font-weight: 300;
  font-family: 'Cormorant Garamond', serif;
  width: 825px;
  margin: 10px;
  /* background-color: rgba(255,255,255,.25); */
}

.App-intro {
  font-size: large;
}

.Scroll-icon {
  /* animation: bounce 0.5s infinite; */
  color: white;
}

/* portfolio artifacts */

.Work {
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgba(240,240,240,1);
  width: 100%;
  margin: 0;
  text-align: center;
}

.Latest {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.Latest-title {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 55px;
  color: rgba(34,98,178,1);
  font-weight: bold;
  margin: 20px;
}

.Latest-description {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin-bottom: 40px;
}

/*The Stoop App */

.Project-One {
  font-size: 100px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  margin: 34px;
  align-self: center;
  align-items: center;
  height: 300px;
}

.Project-link {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  background-color: rgba(34,98,178,1);
  /* opacity: .9; */
  margin: 0;
  display: block;
}

.Images-One {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  height: 100%;
}

.Project-One-Button {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  background-position: 50% 50%;
  background-color: rgba(34,98,178,1);
  text-align: center;
  vertical-align: center;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 25px;
  padding: 5px;
  color: white;
  margin: 10px;
}

.Overview-one {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  font-size: 20px;
  padding: 40px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

/*The PuppyFinder App */

.Project-Two {
  font-size: 100px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  margin: 34px;
  align-self: center;
  align-items: center;
  height: 300px;
}

.Project-link {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  background-color: rgba(34,98,178,1);
  margin: 0;
  display: block;
}

.Images-Two {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  height: 100%;
}

.Project-Two-Button {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  background-position: 50% 50%;
  background-color: rgba(34,98,178,1);
  text-align: center;
  vertical-align: center;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 25px;
  padding: 5px;
  color: white;
  margin: 10px;
}

.Overview-two {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  font-size: 20px;
  padding: 40px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

/*Ready Set Plan App */

.Project-Three {
  font-size: 100px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  margin: 34px;
  align-self: center;
  align-items: center;
  height: 300px;
}

.Project-link {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  background-color: rgba(34,98,178,1);
  margin: 0;
  display: block;
}

.Images-Three {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  height: 100%;
}

.Project-Three-Button {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  background-position: 50% 50%;
  background-color: rgba(34,98,178,1);
  text-align: center;
  vertical-align: center;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 25px;
  padding: 5px;
  color: white;
  margin: 10px;
}

.Overview-three {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  font-size: 20px;
  padding: 40px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}


/* About and Contact */


.About {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: rgba(74,99,127,1);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  box-sizing: border-box;
  margin: 0;
}

.Story {
  color: white;
  font-family: 'Karma', serif;
  font-size: 40px;
  margin: 40px;
  background-color: rgba(34,98,178,.5);
}

.About-me {
  color: white;
  text-decoration: none;
  font-family: 'Carrois Gothic SC', sans-serif;
  margin: 40px;
  font-size: 55px;
}

.Footer {
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: rgba(0,0,0,1);
  width: 100%;
  margin: 0;
  color: white;
  text-align: center;
}

.Contact {
  display: inline-block;
}

.Contact-link {
  color: white;
  text-decoration: none;
  padding-right: 30px;
  padding-left: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

a:hover {
  color: rgba(130,130,130,1);
}
